[package]
name = "sea-orm-codegen"
version = "0.8.0"
authors = ["Billy Chan <ccw.billy.123@gmail.com>"]
edition = "2021"
description = "Code Generator for SeaORM"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/sea-orm"
repository = "https://github.com/SeaQL/sea-orm"
categories = ["database"]
keywords = ["sql", "mysql", "postgres", "sqlite"]

[lib]
name = "sea_orm_codegen"
path = "src/lib.rs"

[dependencies]
sea-query = { version = "^0.26.0" }
syn = { version = "^1", default-features = false, features = [
    "derive",
    "parsing",
    "proc-macro",
    "printing",
] }
quote = "^1"
heck = "^0.3"
proc-macro2 = "^1"
inflection = "0.1.2"
tracing = { version = "0.1", features = ["log"] }

[dev-dependencies]
pretty_assertions = { version = "^0.7" }
