[package]
name = "sea-orm-codegen"
version = "0.1.0"
authors = ["Billy Chan <ccw.billy.123@gmail.com>"]
edition = "2018"
description = ""
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/sea-orm"
repository = "https://github.com/SeaQL/sea-orm"
categories = ["database"]
keywords = ["orm", "database", "sql", "mysql", "postgres", "sqlite"]
publish = false

[lib]
name = "sea_orm_codegen"
path = "src/lib.rs"

[dependencies]
sea-query = { version = "~0.12.8", git = "https://github.com/SeaQL/sea-query.git", branch = "fix-pg-constraints" }
syn = { version = "^1", default-features = false, features = [
    "derive",
    "parsing",
    "proc-macro",
    "printing",
] }
quote = "^1"
heck = "^0.3"
proc-macro2 = "^1"

[dev-dependencies]
async-std = { version = "^1.9", features = ["attributes"] }
sea-orm = { path = "../" }
