<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>404 - tera</title>
  </head>
  <body>
    <h1>404: Hey! There's nothing here.</h1>
    The page at {{ uri }} does not exist!
  </body>
</html>
