[workspace]

[package]
edition      = "2024"
name         = "migration"
publish      = false
rust-version = "1.85.0"
version      = "0.1.0"

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }

[dependencies.sea-orm]
path    = "../../../"    # remove this line in your own project
version = "~2.0.0-rc.30" # sea-orm version

[dependencies.sea-orm-migration]
features = [
    "runtime-tokio-native-tls",
    "sqlx-sqlite",
]
path = "../../../sea-orm-migration" # remove this line in your own project
version = "~2.0.0-rc.30" # sea-orm-migration version
