<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Actix Example</title>
    <meta name="description" content="Actix - SeaOrm integration example" />
    <meta name="author" content="Sam Samai" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/skeleton.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
  </head>
  <body>
    <div class="container">
      <p><!--Nothing to see here --></p>
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
