[package]
name = "migration"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
async-trait = { version = "^0.1"}
async-std = { version = "1.8", features = [ "attributes" ] }
sea-schema = { git = "https://github.com/SeaQL/sea-schema.git", branch = "schema-manager", default-features = false, features = [ "migration", "debug-print" ] }
env_logger = { version = "^0" }
log = { version = "^0" }
entity = { path = "../entity" }
