[package]
name = "sea-orm-seaography-example"
version = "0.1.0"
edition = "2024"
rust-version = "1.85.0"

[dependencies]
poem = { version = "3.0" }
async-graphql = { version = "7.0.17" }
async-graphql-poem = { version = "7.0" }
dotenv = "0.15.0"
tokio = { version = "1.29.1", features = ["macros", "rt-multi-thread"] }
tracing = { version = "0.1.37" }
tracing-subscriber = { version = "0.3.17" }

[dependencies.sea-orm]
path = "../../../" # remove this line in your own project
version = "~1.2.0-rc.1" # sea-orm version
features = ["sqlx-mysql", "runtime-async-std-native-tls", "seaography"]

[dependencies.seaography]
# version = "~1.1.3" # seaography version
git = "https://github.com/SeaQL/seaography.git"
branch = "sea-orm-1.2.0-rc"
features = ["with-decimal", "with-chrono"]

[dev-dependencies]
serde_json = { version = "1.0.103" }

[workspace]
members = []
