[workspace]
# A separate workspace

[package]
name = "sea-orm-cli"
version = "0.3.0"
authors = [ "Billy Chan <ccw.billy.123@gmail.com>" ]
edition = "2018"
description = "Command line utility for SeaORM"
license = "MIT OR Apache-2.0"
documentation = "https://docs.rs/sea-orm"
repository = "https://github.com/SeaQL/sea-orm"
categories = [ "database" ]
keywords = ["async", "orm", "mysql", "postgres", "sqlite"]

[[bin]]
name = "sea-orm-cli"
path = "src/main.rs"

[dependencies]
clap = { version = "^2.33.3" }
dotenv = { version = "^0.15" }
async-std = { version = "^1.9", features = [ "attributes" ] }
sea-orm-codegen = { version = "^0.3.0", path = "../sea-orm-codegen" }
sea-schema = { version = "^0.2.9", default-features = false, features = [
    "debug-print",
    "sqlx-mysql",
    "sqlx-postgres",
    "discovery",
    "writer",
] }
sqlx = { version = "^0.5", default-features = false, features = [ "mysql", "postgres" ] }
env_logger = { version = "^0.9" }
log = { version = "^0.4" }
url = "^2.2"

[features]
default = [ "runtime-async-std-native-tls" ]
runtime-actix-native-tls = [
    "sqlx/runtime-actix-native-tls",
    "sea-schema/runtime-actix-native-tls",
]
runtime-async-std-native-tls = [
    "sqlx/runtime-async-std-native-tls",
    "sea-schema/runtime-async-std-native-tls",
]
runtime-tokio-native-tls = [
    "sqlx/runtime-tokio-native-tls",
    "sea-schema/runtime-tokio-native-tls",
]
runtime-actix-rustls = [
    "sqlx/runtime-actix-rustls",
    "sea-schema/runtime-actix-rustls",
]
runtime-async-std-rustls = [
    "sqlx/runtime-async-std-rustls",
    "sea-schema/runtime-async-std-rustls",
]
runtime-tokio-rustls = [
    "sqlx/runtime-tokio-rustls",
    "sea-schema/runtime-tokio-rustls",
]
