[package]
name = "entity"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "entity"
path = "src/lib.rs"

[dependencies]
rocket = { version = "0.5.0", features = ["json"] }

[dependencies.sea-orm]
path = "../../../" # remove this line in your own project
version = "0.12.12" # sea-orm version
