[package]
name = "entity"
version = "0.1.0"
edition = "2024"
rust-version = "1.85.0"
publish = false

[lib]
name = "entity"
path = "src/lib.rs"

[dependencies]
rocket = { version = "0.5", features = ["json"] }

[dependencies.sea-orm]
path = "../../../" # remove this line in your own project
version = "~2.0.0-rc.5" # sea-orm version

[dependencies.rocket_okapi]
version = "0.9"
