on:
  release:
    types: [created]

jobs:
  deploy-release:
    name: Deploy Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@master
      - name: Install Github CLI
        run: build-tools/release/install-hub.sh ${{ matrix.os }}
        shell: bash
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Build SeaORM CLI
        run: build-tools/release/build-cli.sh ${{ matrix.os }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash